@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&display=swap');

.App {
  font-family: 'Raleway', sans-serif;
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}
